/* Pop-Up Toggling */

.Contact_Pop-Up_Insert {
    width: 100%;
    height: 100%;
}

.Contact_Toggle {
    display: none;
}
.Contact_Toggle:checked ~ .Contact_Pop-Up_Background {
    top: 0;
    left: 0;
    background-color: rgb(0, 0, 0, 0.3);
}
.Contact_Toggle:checked ~ .Contact_Pop-Up_Container {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Pop-Up Background */

.Contact_Pop-Up_Background {
    width: 100%;
    height: 100%;
    top: 200;
    left: 0;
    z-index: 999;
    position: fixed;
    display: flex;
}


/* Pop-Up Body */

.Contact_Pop-Up_Container {
    width: 1200px;
    height: 800px;
    max-width: 90%;
    max-height: 90%;
    top: 200%;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 1000;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 150ms ease;
}

.Contact_Pop-Up {
    width: 100%;
    height: 100%;
    z-index: 1001;
    padding: 50px 100px 50px 100px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    gap: 100px;
    overflow-y: auto;
    border-radius: 20px;
    background-image: linear-gradient(to bottom right, rgb(37, 49, 59, 0.9), rgb(0, 0, 0, 0.6));
    box-shadow: 0 0 3px #d4fcee;
    filter: drop-shadow(5px 5px 5px black);
    backdrop-filter: blur(15px);
}

@media (max-width: 920px) {
    .Contact_Pop-Up {
        padding: 50px;
        flex-wrap: wrap;
    }
}

/* Contact Content*/

.Contact_Content {
    width: 100%;
    margin: auto 0 auto 0;
    height: fit-content;
    display: block;
}

.Contact_Header {
    width: 100%;
    height: fit-content;
    margin: 0 0 20px 0;
    padding: 0 0 10px 0;
    position: relative;
    font-size: 2.5rem;
    filter: drop-shadow(2px 2px 2px black);
}

.Contact_Socials_Wrapper {
    width: 100%;
    height: fit-content;
    margin: 10px 0 10px 0;
    padding: 30px 0 30px 0;
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    justify-content: left;
    align-items: center;
    gap: 20px;
    border-style: solid;
    border-color: #d4fcee;
    border-width: 1px 0 0 0;
}

.Contact_Socials_Icon {
    width: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Contact_Form {
    width: 100%;
    height: fit-content;
    margin: auto 0 auto 0;
    padding: 20px 30px 30px 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    background-image: linear-gradient(to bottom right, rgba(46, 64, 78, 0.5), rgb(29, 39, 47, 0.5));
    filter: drop-shadow(3px 3px 5px black);
}

.Contact_Form label {
    margin: 0 auto 8px 0;
    display: block;
    color: #d4fcee;
    font-weight: bold;
    filter: drop-shadow(3px 3px 5px black);    
}

.Contact_Form input, .Contact_Form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 35px;
    color: white;
    border: none;
    border-radius: 5px;
    background-color: transparent;
    background-image: linear-gradient(to bottom right, rgb(46, 64, 78, 0.9), rgb(29, 39, 47, 0.9));
    box-shadow: 0 0 2px #d4fcee;
    filter: drop-shadow(3px 3px 5px black);
}

.Contact_Form textarea {
    resize: vertical;
    min-height: 100px;
}

.Contact_Form button {
    padding: 10px 15px;
    color: black;
    font-size: 1rem;
    font-weight: bold;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background-color: #d4fcee;
    transition: background-color 0.3s ease;
}

.Contact_Form button:hover {
    background-color: #d4fceeCC;
}
.Contact_Form button:active {
    transform: scale(0.95);
}