@font-face {
    font-family: Poppins;
    src: url('../fonts/Poppins/Poppins-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: Poppins;
    src: url('../fonts/Poppins/Poppins-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}
@font-face {
    font-family: Montserrat;
    src: url('../fonts/Montserrat/Montserrat-Regular.tf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: Montserrat;
    src: url('../fonts/Montserrat/Montserrat-Bold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}
@font-face {
    font-family: Uni-Sans;
    src: url('../fonts/Uni-Sans/Uni Sans Thin.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: Uni-Sans;
    src: url('../fonts/Uni-Sans/Uni Sans Heavy.otf') format('opentype');
    font-weight: 800;
    font-weight: normal;
}

@keyframes slideInFromTop {
    0% {
        opacity: 0;
        transform: translateY(-100%);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes slideInFromRight {
    0% {
        opacity: 0;
        transform: translateX(100%);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}
@keyframes slideInFromBottom {
    0% {
        opacity: 0;
        transform: translateY(100%);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes slideInFromLeft {
    0% {
        opacity: 0;
        transform: translateX(-100%);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}
::-webkit-scrollbar-track {
    background: transparent;
    margin-block: 12px;
}
::-webkit-scrollbar-thumb {
    background: lightgray;
    border-radius: 100vw;
}
  
::-moz-selection {
    color: rgb(212, 252, 238);
    background: rgb(212, 252, 238, 0.3);
}
::selection {
    color: rgb(212, 252, 238);
    background: rgb(212, 252, 238, 0.3);
}

* {
    box-sizing: border-box;
    transition: all 50ms ease;
    scroll-behavior: smooth;
}

div {
    color: rgba(255, 255, 255, 0.9);
    font-size: 0.8rem;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 1px 1px 1px black;
    flex-wrap: wrap;
    box-sizing: border-box;
}


h1 {
    color: #d4fcee;
    font-size: 1.9rem;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    text-shadow: 3px 3px 3px #000000;
}
h2 {
    color: #d4fcee;
    font-size: 1.5rem;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    text-shadow: 1px 1px 1px #000000;
}
h3 {
    color: #d4fcee;
    font-size: 1rem;
    text-shadow: 1px 1px 1px black;
}

a {
    text-decoration: none;
    color: inherit;
}

p {
    color: rgba(255, 255, 255, 0.85);
    font-size: 0.8rem;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 150%;
    text-shadow: 1px 1px 1px black;
}

body, html {
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    overflow: auto;
    touch-action: pan-y;
    background-color: #141a1f;
    background-image: linear-gradient(to bottom right, #25313B, #030405);
}

#background {
    width: 100%;
    height: 100%;
    z-index: 1;
    position: fixed;
}

main {
    width: 100%;
    z-index: 5;
}

#Home {
    width: 100%;
    height: 56px;
    margin: 0 0 5px 0;
}

/* Main Body */

.Main_Section {
    width: 100%;
    height: fit-content;
    margin-bottom: 30px;
    padding: 20px;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    opacity: 0;
    transform: translateY(0);
    transition: opacity 800ms ease-out, transform 800ms ease-out;
}
.Main_Section.animate-bottom {
    opacity: 1;
    transform: translateY(0);
    animation: 800ms ease-out 0s 1 slideInFromBottom forwards;
}

.Section_Header_Container {
    width: 100%;
    display: flex;
    justify-content: center;
}
.Section_Header {
    width: 920px;
    height: 22px;
    margin: 15px 45px 15px 45px;
    color: #d4fcee;
}

@media (max-width: 920px) {
    .Main_Section {
        padding: 5px;
    }

    .Section_Header {
        width: 920px;
        height: 22px;
        margin: 15px 25px;
    }
}